* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 600px;
  height: 100%;
  color: #444;
  background: no-repeat fixed center/100% 100% url('~images/bg_image.png');
}

.header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo {
  flex: 0 0 80px;
  height: 100%;
  margin-right: 30px;
  border: solid 1px;
}

.title {
  flex: 1 1 80%;
  min-width: 200px;
  font-size: 30px;
}

.link-container {
  display: flex;
  flex: 0 0 300px;
  flex-direction: row;
}

.link {
  width: 100px;
  margin-right: 10px;
}

.main {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.main-title {
  width: 600px;
  height: 100px;
  margin-bottom: 20px;
  font-size: 48px;
  text-align: end;
}

.sub-title {
  width: 600px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: end;
}

.button {
  width: 130px;
  height: 50px;
  font-size: 20px;
}

.footer {
  flex: 0 0 60px;
  font-size: 16px;
  text-align: center;
}
