/* お知らせページ */

.main-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.main-left {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

.main-right {
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
}

.article-container {
  width: 400px;
  height: 300px;
  margin-right: 100px;
  background-color: white;
}

.article-header {
  display: flex;
  flex-direction: row;
}

.article-title {
  flex: 1 1 auto;
  min-width: 200px;
}

.article-pic {
  width: 300px;
  height: 200px;
}

.category {
  flex: 0 0 200px;
}

.store-guide {
  flex: 1 1 auto;
}
